@{
    ViewBag.Title = "Clientes";
}

@Styles.Render("http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
@Scripts.Render("http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")

<div id="clientes" class="container-fluid">
    <section id="seccion-filtros" style="padding-bottom: 30px;">
        <h5 class="subtitulos">Clientes</h5>
        <div class="row form-group">
            <div class="col-md-6">
                <label class="control-label col-md-4" for="select-veaclub" style="padding: 10px;">Vea Club:</label>
                <select id="select-veaclub" class="form-control col-md-8">
                    <option value="0">- Todos -</option>
                    <option value="true">Tiene</option>
                    <option value="false">No Tiene</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="control-label col-md-4" for="select-tarjetaoh" style="padding: 10px;">Tarjeta OH:</label>
                <select id="select-tarjetaoh" class="form-control col-md-8">
                    <option value="0">- Todos -</option>
                    <option value="true">Tiene</option>
                    <option value="false">No Tiene</option>
                </select>
            </div>
        </div>
    </section>
    <section id="seccion-grilla">
        <table id="table_clientes" class="display">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Num. Doc.</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fec. de Nac.</th>
                    <th>Dirección</th>
                    <th>Vea Club</th>
                    <th>Tarjeta Oh</th>
                    <th>-</th>
                    <th>x</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
    <section>
        <div class="row content">
            <button id="btn-agregar-cliente" class="btn btn-primary col-md-12" data-toggle="modal" data-target="#modal-registrar" data-remote="false">
                Registrar Cliente
            </button>
        </div>
    </section>
</div>

@Html.Partial("~/Views/Cliente/EditarModal.cshtml")
@Html.Partial("~/Views/Cliente/RegistrarModal.cshtml")

@Scripts.Render("~/Scripts/Cliente/ClienteModule.js")
<script>
    $(document).ready(function () {

        var clienteModule = new ClienteModule(
            {
                urlObtenerClientes: '@Url.Action("ObtenerClientes", "Cliente")',
                urlRegistrar: '@Url.Action("Registrar", "Cliente")'
            }
        );

        clienteModule.initialize();
    });

</script>

