@{
    ViewBag.Title = "Afiliar Cliente a Tarjeta OH";
}

@Styles.Render("http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
@Scripts.Render("http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")

<div id="afiliar-tarjeta-oh" class="container-fluid">
    <div class="row content">
        <div id="seccion-buscar-cliente" class="col-md-2 well">
            <h5 class="subtitulos">Búsqueda de Cliente</h5>
            <div class="input-group">
                <input id="txtBusquedaPorNumDoc" maxlength="8" type="text" class="form-control" placeholder="# de Documento" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
                <div class="input-group-btn">
                    <button id="btnBuscarCliente" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-5 ">
            <div id="seccion-datos-cliente" class="well secciones-afiliar">
                <h5 class="subtitulos">Datos del Cliente</h5>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtCodigo">Código:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtCodigo" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtNombres">Nombres:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtNombres" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtApellidos">Apellidos:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtApellidos" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="txtNumeroDocumento">Núm. de Doc.:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtNumeroDocumento" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div id="seccion-ingresos" class="well secciones-afiliar-2">
                <h5 class="subtitulos">Ingresos mensuales</h5>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-8" for="txtSueldoMensual">Sueldo Mensual:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="txtSueldoMensual" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-8" for="txtOtrosIngresos">Otros Ingresos:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="txtOtrosIngresos" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-8" for="txtLineaCredito">Linea de Crédito Aprobada:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="txtLineaCredito" readonly>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-5">
            
            <div id="seccion-deudas" class="well secciones-afiliar">
                <h5 class="subtitulos">Deudas en Otras Entidades</h5>
                <table id="table_deudas" class="display">
                    <thead>
                        <tr>
                            <th>Entidad Financiera</th>
                            <th>Monto</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div id="seccion-evaluacion" class="well secciones-afiliar-2">
                <h5 class="subtitulos">Evaluación</h5>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-5" for="txtNumeroTarjeta">Número de Tarjeta:</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="txtNumeroTarjeta" readonly>
                        </div>
                    </div>
                </div>
                <div >
                    <button id="btnEvaluar" class="btn btn-default col-md-12" data-toggle="modal" data-target="#modal-afiliar" data-remote="false" disabled>
                        Evaluar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Afiliacion/AfiliacionModal.cshtml")

@Scripts.Render("~/Scripts/Afiliacion/AfiliacionModule.js")
<script>
    $(document).ready(function () {

        var afilacionModule = new AfiliacionModule(
            {
                urlBuscarAfiliacionCliente: '@Url.Action("BuscarAfiliacionCliente", "Afiliacion")',
                urlEvaluar: '@Url.Action("Evaluar", "Afiliacion")',
                urlRegistrar: '@Url.Action("RegistrarAfiliacion", "Afiliacion")'
            }
        );

        afilacionModule.initialize();
    });

</script>

